[submodule "bitvmx_protocol"]
	path = bitvmx_protocol
	url = git@github.com:fedejinich/bitvmx_protocol.git
	branch = pkmn_guess
[submodule "engine"]
	path = engine
	url = git@github.com:pkmn/engine.git
