[submodule "bitvmx_protocol"]
	path = bitvmx_protocol
	url = git@github.com:fedejinich/bitvmx_protocol.git
	branch = bitvmx_pkmn_bttl
[submodule "engine"]
	path = engine
	url = git@github.com:pkmn/engine.git
